@page "{id:min(1)}"
@model TesteAuvo.Pages.Clientes.DetalhesModel
@{
    ViewData["Title"] = "Detalhes";
}

<div class="container row">
    <!--Perfil-->
    <div class="col-md-3 card p-4 m-1 my-md-0">
        @{
            var photo = "~/assets/" + (Model.Cliente.Imagem ?? "default-profile.svg");
        }
        <img class="card-img-top" src="@photo" alt="@Model.Cliente.Nome" asp-append-version="true">

        <h3 class="mb-2">@Model.Cliente.Nome</h3>
        <p class="mb-4">@Model.Cliente.Telefone</p>
        <p class="mb-4">@Model.Cliente.Email</p>
        <p class="mb-4">@Model.Cliente.Endereco</p>

        <h5>Mais Informações</h5>

        <p>Segmento</p>
        <p>@Model.Cliente.Segmento</p>
        <p>CPF/CNPJ</p>
        <p>@Model.Cliente.CpfCnpj</p>
        <p>Codigo do sistema</p>
        <p>@Model.Cliente.Id</p>

    </div>

    <!--Tarefas-->
    <div class="col-md-5 card p-4 m-1 my-md-0">
        <h3 class="mb-4">Tarefas</h3>

        <p>Ops! Cliente ainda não possui nenhuma tarefa!</p>

    </div>

    <!--Contatos-->
    <div class="col-md-3 m-1 my-md-0">
        <!--Editar Contatos-->
        <div id="editar-contato" class="row card p-4" hidden>
            <h3 class="mb-4">Editar Contato</h3>

        </div>
        <div class="row card p-4">
            <h3 class="mb-4">Contatos</h3>

            <!--Filtrar contatos-->
            <form class="mb-4" method="get">
                <div class="input-group">
                    <input class="form-control" asp-for="BuscaStr" />
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-outline-primary">Buscar</button>
                    </div>
                </div>
            </form>

            @if (Model.Cliente.Contatos.Count > 0)
            {
                <div class="accordion" id="contatos-accordion">

                 @foreach (var contato in Model.Cliente.Contatos)
                 {
                     var collapseId="collapse-" + contato.Id;
                     var collapseIdHref="#collapse-" + contato.Id;
                     var textId="text-" + contato.Id;
                     var formId="form-" + contato.Id;

                     <div class="card">
                         <div class="card-header px-4 py-3 mb-0">
                            <div class="row">
                                <h5>@contato.Nome</h5>
                                <a href="@collapseIdHref" data-toggle="collapse" class="ml-auto mr-2" > -- </a>
                             </div>
                         </div>

                         <div id="@collapseId" class="collapse" data-parent="#contatos-accordion">
                            <div class="card-body">
                                <p>@contato.Cargo</p>
                                <p>@contato.Telefone</p>
                                <p>@contato.Email</p>
                                <div class="row">
                                    <a asp-page="/Clientes/EditarContato" asp-route-ID="@contato.Id" class="btn btn-outline-primay ml-auto mr-2">
                                        Editar
                                    </a>
                                </div>
                             </div>
                         </div>
                     </div>

                 }
                 

                </div>
            }

        </div>
    </div>

</div>


@section Scripts
{
    <script src="~/js/clientes_detalhes.js"></script>
}

@section Styles
{
    <link href="~/css/clientes_detalhes.css" rel="stylesheet" />
}

