@page "{id:min(1)}"
@model TesteAuvo.Pages.Clientes.DetalhesModel
@{
    ViewData["Title"] = "Detalhes";
}

<div class="container row">
    <!--Perfil-->
    <div class="col-md-3 card p-4 m-1 my-md-0 perfil">
        @{
            var photo = "~/assets/" + (Model.Cliente.Imagem ?? "default-profile.svg");
        }
        <img class="card-img-top" src="@photo" alt="@Model.Cliente.Nome" asp-append-version="true">

        <div class="container propriedades-perfil mt-3">

            <div class="container row propriedades-perfil-titulo mb-2">
                <i class="fa fa-building h5 mr-2"></i>
                <div class="h5">@Model.Cliente.Nome</div>
            </div>

            <p class="subtitulo">Telefone</p>
            <p>@Model.Cliente.Telefone</p>
            <p class="subtitulo">Email</p>
            <p>@Model.Cliente.Email</p>
            <p class="subtitulo">Endereco</p>
            <p>@Model.Cliente.Endereco</p>

            <div class="container row propriedades-perfil-titulo mb-2">
                <i class="fa fa-plus h6 mr-2"></i>
                <div class="h6">Mais Informações</div>
            </div>

            <p class="subtitulo">Segmento</p>
            <p>@Model.Cliente.Segmento</p>
            <p class="subtitulo">CPF/CNPJ</p>
            <p>@Model.Cliente.CpfCnpj</p>
            <p class="subtitulo">Codigo do sistema</p>
            <p>@Model.Cliente.Id</p>

        </div>
    </div>

    <!--Tarefas-->
    <div class="col-md-5 card p-4 m-1 my-md-0">
        <h3 class="mb-4">Tarefas</h3>

        <p>Ops! Cliente ainda não possui nenhuma tarefa!</p>

    </div>

    <!--Contatos-->
    <div class="col-md-3 card p-4 m-1 my-md-0">       
        <h3 class="mb-4">Contatos</h3>

        <!--Filtrar contatos-->
        <form class="mb-4">
            <div class="input-group">
                <input id="label-buscar" class="form-control">
            </div>
        </form>

        @if (Model.Cliente.Contatos.Count > 0)
        {
            <div id="lista-contatos" class="accordion">

                @foreach (var contato in Model.Cliente.Contatos)
                {
                    var collapseId="collapse-" + contato.Id;
                    var collapseIdHref="#collapse-" + contato.Id;
                    var textId="text-" + contato.Id;
                    var formId="form-" + contato.Id;

                    <div class="card" nome-contato="@contato.Nome">
                        <div class="card-header row m-0 py-0 px-3">
                            <p class="py-2 m-0">@contato.Nome</p>
                            <a href="@collapseIdHref" data-toggle="collapse" style="color: dimgrey">
                                <i class="fa fa-plus"></i>
                            </a>
                        </div>

                        <div id="@collapseId" class="collapse" data-parent="#lista-contatos">
                        <div class="card-body py-2 px-3">
                            <div class="container p-0">
                                <p>@contato.Cargo</p>
                                <p>@contato.Telefone</p>
                                <p>@contato.Email</p>
                            </div>
                            <a asp-page="/Clientes/EditarContato" asp-route-ID="@contato.Id" class="btn btn-outline-primay ml-auto p-0">
                                <i class="fa fa-pencil-alt"></i>
                            </a>
                            </div>
                        </div>
                    </div>
                }                 

            </div>
        }

    </div>

</div>


@section Scripts
{
    <script src="~/js/clientes_detalhes.js"></script>
}

@section Styles
{
    <link href="~/css/clientes_detalhes.css" rel="stylesheet" />
}

