@page
@model TesteAuvo.Pages.Clientes.IndexModel
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row card p-2 p-lg-4 m-0">
        <h1 class="mb-4 display-2">Clientes</h1>

        <div class="card-deck" >
            @foreach (var cliente in Model.Clientes)
            {
                var photo = "~/assets/" + (cliente.Imagem ?? "default-profile.svg");

                <div class="col-lg-3 card p-2 mb-2 p-lg-3 m-lg-2 card-clientes"  style="max-width: 300px;">
                    <img class="card-img-top" src="@photo" alt="@cliente.Nome" asp-append-version="true">
                    <div class="card-body">
                        <h5 class="card-title">@cliente.Nome</h5>
                        <p class="card-text">@cliente.Email</p>
                        <div class="row">
                            <a class="btn btn-outline-primary ml-auto" asp-page="/Clientes/Detalhes" asp-route-ID="@cliente.Id">Abrir</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Styles
{
    <link href="~/css/clientes.css" rel="stylesheet" />
}


